<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Simple and use to chat app" />
    <title>⚡ Proton Messenger</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>