<%- include ('partials/header') %>

<div class="chat-container">
  <div class="chat-screen">
    <div class="chat-header">
      <div>
        <h2>#chat</h2>
      </div>
      <div class="spacer"></div>
      <div>
        <button onclick="location.href='/logout'">Logout</button>
      </div>
    </div>
    <div class="chat-div">
      <ul></ul>
    </div>
    <div class="chat-form-div">
      <form class="chat-form">
        <div class="chat-ip">
          <input
            type="text"
            name="chat"
            placeholder="Say Hi!"
            autocomplete="off"
          />
        </div>
        <div>
          <button type="submit">SEND</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // DOM Elements
  const chatForm = document.querySelector('.chat-form');
  const messageList = document.querySelector('.chat-div ul');
  const chatScreen = document.querySelector('.chat-div');
  const chatInput = document.querySelector('.chat-ip input');

  chatForm.onsubmit = (e) => {
    e.preventDefault();
    let ele = document.createElement('li');
    ele.className = 'message';
    if (!chatInput.value.trim()) {
      return;
    }
    ele.innerText = chatInput.value.trim();
    messageList.appendChild(ele);
    chatInput.value = '';
    chatScreen.scrollTo(0, chatScreen.scrollHeight);
    chatInput.focus();
    return false;
  };
</script>

<%- include ('partials/footer') %>
