<%- include ('partials/header') %>

<div class="container">
  <div class="chat-screen">
    <div class="chat-header">
      <h2>#chat</h2>
    </div>
    <div class="chat-div">
      <ul>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
        <li class="message">Learn Typescript</li>
      </ul>
    </div>
    <div class="chat-form-div">
      <form class="chat-form">
        <div class="chat-ip">
          <input type="text" name="chat" placeholder="Say Hi!" />
        </div>
        <div>
          <button type="submit">SEND</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include ('partials/footer') %>
