<%- include ('partials/header') %>

<div class="chat-container">
  <div class="chat-screen">
    <div class="chat-header">
      <div>
        <h2>#chat</h2>
      </div>
      <div class="spacer"></div>
      <div style="padding: 0 10px">
        <button class="show-users">Users</button>
      </div>
      <div>
        <button onclick="location.href='/logout'">Logout</button>
      </div>
    </div>
    <div class="chat-div">
      <ul>
        <% messages.forEach(message => { %>
          <li class="message"><strong><%= message.by.username %></strong> - <%= message.text %></li>
        <% }) %>
      </ul>
    </div>
    <div class="chat-form-div">
      <form class="chat-form">
        <div class="chat-ip">
          <input
            type="text"
            name="chat"
            placeholder="Say Hi!"
            autocomplete="off"
          />
        </div>
        <div>
          <button type="submit">SEND</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="model-wrapper">
  <div class="model">
    <div class="model-header">
      <div>
        <h3>Active users</h3>
      </div>
      <div class="users-list">
        <ul>
          <!-- <li>Active users will be shown here!</li> -->
        </ul>
      </div>
    </div>
  </div>
</div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    // DOM Elements
    const socket = io();
    const chatForm = document.querySelector('.chat-form');
    const messageList = document.querySelector('.chat-div ul');
    const chatScreen = document.querySelector('.chat-div');
    const chatInput = document.querySelector('.chat-ip input');
    const modelWrapper = document.querySelector('.model-wrapper');
    const model = document.querySelector('.model');
    const showUserBtn = document.querySelector('.show-users');
    const usersList = document.querySelector('.users-list ul');
    let currentUser;

    // Custom Function to escape tags
    // https://medium.com/@shashankvivek.7/understanding-xss-and-preventing-it-using-pure-javascript-ef0668b37687
    String.prototype.escape = function() {
    var tagsToReplace = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;'
    };
    return this.replace(/[&<>]/g, function(tag) {
        return tagsToReplace[tag] || tag;
    });
};

    // Scroll to the bottom
    chatScreen.scrollTo(0, chatScreen.scrollHeight);

    // When user joins
    socket.emit('join');

    // When users joins
    socket.on('join', ({ username })=> {
      currentUser = username;
    })

    // Functions
    const createChatMessage = ({username, message}) => {
      let ele = document.createElement('li');
      ele.className = 'message';
      message = message.escape();
      ele.innerHTML = `<strong>${username}</strong> - ${message}`;
      return ele;
    };

    socket.on('message', data => {
      // console.log(data);
      messageList.appendChild(createChatMessage(data));
    })

    // Events
    chatForm.onsubmit = (e) => {
      e.preventDefault();

      // Check if the message is empty
      if (!chatInput.value.trim()) {
        return;
      }

      // Emit a message to server
      socket.emit('message', chatInput.value.trim())

      messageData = {
        username: currentUser,
        message:  chatInput.value.trim()
      }

      // console.log(messageData);

      // append to messages
      messageList.appendChild(createChatMessage(messageData));

      // clear chat input
      chatInput.value = '';
      // scroll down
      chatScreen.scrollTo(0, chatScreen.scrollHeight);
      // chatInput.focus();
      return false;
    };

    showUserBtn.onclick = async () => {
      try {
        usersList.innerHTML = '';
        let res = await fetch('/active');
        let activeUsers = await res.json();

        activeUsers.forEach(user => {
          let li = document.createElement('li');
          li.textContent = user;
          usersList.appendChild(li);
        });
        
        modelWrapper.classList.add('model-active');
      } catch (error) {
        usersList.innerHTML = "Can't get active users"; 
      }
    }

    modelWrapper.onclick = () => {
      // console.log('click');
      modelWrapper.classList.remove('model-active');
    };
  </script>

  <%- include ('partials/footer') %>
</div>
