<%- include ('./partials/header') %> 
<%- include ('./partials/navbar') %>
<div class="container">
  <div class="main">
    <div class="welcome-message">
      <h1>Welcome to Proton Chat</h1>
      <h1>⚡</h1>
    </div>
    <div class="content">
      <p>
        A simple and easy to use chat application. Chat with other developers,
        collaborate on projects, discuss issues and bugs, share your projects
        and contribute to the world of open source.
      </p>
    </div>
    <div class="options">
      <div>
        <button onclick="location.href='/login'">Login</button>
      </div>
      <div>
        <button onclick="location.href='/signup'">Signup</button>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>
