<%- include ('./partials/header') %>
<div class="container">
  <div class="main">
    <div class="welcome-message">
      <h1>Welcome to Proton Chat</h1>
      <h1>⚡</h1>
    </div>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit minima
        excepturi accusantium hic, et quia voluptatem officiis quis veniam
        quisquam officia labore iure eligendi recusandae minus dolore animi ut.
        Natus.
      </p>
    </div>
    <div class="options">
      <div>
        <button>Login</button>
      </div>
      <div>
        <button>Signup</button>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>
