<%- include ('./partials/header') %> <%- include ('./partials/navbar') %>

<div class="container">
  <div class="login-div">
    <form action="/login" method="POST" class="auth-form">
      <h2>LOGIN</h2>

      <%- include ('./partials/messages') %>

      <div>
        <label for="email">Email</label>
      </div>
      <div>
        <input
          type="email"
          name="email"
          placeholder="example@example.com"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <label for="password">Password</label>
      </div>
      <div>
        <input
          type="password"
          name="password"
          placeholder="password"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <button type="submit">LOGIN</button>
      </div>
      <div>No Account? <a href="/signup">Signup</a></div>
      <div class="or__div">
        <span>OR</span>
      </div>
      <div class="github__oauth">
        <button type="button" onclick="location.href='/auth/github'">
          SIGN IN WITH GITHUB
        </button>
      </div>
    </form>
  </div>
</div>
<%- include ('./partials/footer') %>
