<%- include ('./partials/header') %> <%- include ('./partials/navbar') %>

<div class="container">
  <div class="login-div">
    <form action="/signup" method="POST" class="auth-form">
      <h2>REGISTER</h2>

      <%- include ('partials/messages') %>

      <div>
        <label for="email">Username</label>
      </div>
      <div>
        <input
          type="text"
          name="username"
          placeholder="username"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <label for="email">Email</label>
      </div>
      <div>
        <input
          type="email"
          name="email"
          placeholder="example@example.com"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <label for="password">Password</label>
      </div>
      <div>
        <input
          type="password"
          name="password"
          placeholder="password"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <button type="submit">SIGN UP</button>
      </div>
      <div>Already Registered? <a href="/login">Login</a></div>
    </form>
  </div>
</div>
<%- include ('./partials/footer') %>
