@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* GLOBAL VARIABLES */
:root {
  --bg-primary: #ffffff;
  --font-family: 'Source Serif Pro', sans-serif;
  --text-primary: #000000;
  --text-secondary: #3d3d3d;
  --special: #8575dd;
  --nav-height: 50px;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
}

html {
  font-family: var(--font-family);
}

button {
  font-family: var(--font-family);
  padding: 10px 20px;
  background-color: var(--special);
  color: var(--bg-primary);
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  min-width: 100px;
}

input {
  font-family: var(--font-family);
  font-size: 16px;
  outline: none;
}

a {
  color: var(--special);
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

/* NAVIGATION BAR */
.nav-container {
  width: 60%;
  margin: 0 auto;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--bg-primary);
}

/* HOMEPAGE */
.main {
  width: 100%;
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.logo {
  margin-top: 20px;
}

.logo svg {
  max-width: 80%;
  height: auto;
  fill: var(--special);
}

.content {
  margin-top: 10px;
  color: var(--text-secondary);
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.options button {
  margin: 10px;
}

/* LOGIN AND REGISTER FORM */
.auth-form {
  width: 90%;
  max-width: 400px;
  padding-top: calc(var(--nav-height) + 10%);
  margin: 0 auto;
}

.auth-form > div {
  padding: 6px 0;
}

.auth-form > div:nth-last-child(3) {
  text-align: right;
}

.auth-form input {
  height: 40px;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--text-secondary);
}

.auth-form button {
  width: 100%;
  border-radius: 0%;
}

.github__oauth {
  text-align: center;
  margin-top: 10px;
}

.github__oauth > button {
  background-color: #211f1f;
}

.or__div {
  width: 100%;
  text-align: center;
  height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.or__div span {
  color: rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  padding: 0 5px;
}

/* CHAT SCREEN */
.chat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

/* CHAT SCREEN SIDEBAR */
.sidebar {
  width: 80%;
  max-width: 280px;
  height: 100%;
  background-color: var(--bg-primary);
}

.sidebar__header {
  height: var(--nav-height);
  border-bottom: 1px solid var(--text-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
}

.close__icon {
  display: none;
}

.close__icon svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.hamburger__icon {
  display: none;
  margin: 0px 5px;
  padding-top: 5px;
}

.hamburger__icon svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.sidebar__rooms {
  padding: 10px;
  overflow-y: scroll;
}

.sidebar__rooms::-webkit-scrollbar {
  width: 0px;
}

.sidebar__rooms > ul {
  list-style: none;
}

.sidebar__rooms > ul > li {
  margin: 5px 0;
  border-radius: 4px;
}

.sidebar__rooms > ul > li:hover {
  background-color: rgba(100, 100, 100, 0.1);
}

.sidebar__room-active {
  background-color: rgba(100, 100, 100, 0.1);
  font-weight: 600;
}

.sidebar__rooms > ul > li > a {
  display: block;
  color: var(--text-primary);
  width: 100%;
  height: 100%;
  padding: 5px;
}

.sidebar__add {
  padding: 5px 10px;
}

/* CHAT SCREEN MAIN */
.chat {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.chat__header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: var(--nav-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--text-secondary);
}

.chat__header button {
  min-width: auto;
  margin-right: 5px;
}

.spacer {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.chat__messages {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  overflow-y: scroll;
  padding: 0 10px;
  word-break: break-all;
}

.chat__messages::-webkit-scrollbar {
  width: 0px;
}

.chat__messages > li {
  padding: 5px 0;
}

.message {
  -webkit-animation: fly-in 300ms ease-in-out;
  animation: fly-in 400ms ease-in-out;
}

.chat-form-div {
  height: var(--nav-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
}

.chat-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0 4px;
}

.chat-ip {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.chat-form > div {
  padding: 0;
}

.chat-ip {
  margin-right: 5px;
}

.chat-ip input {
  width: 100%;
  height: 40px;
  padding: 5px 5px 5px 10px;
  border: 1px solid var(--text-secondary);
  border-radius: 20px;
}

.chat-form button {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  min-width: 0;
}

button svg {
  fill: var(--bg-primary);
}

/* MODEL */
.model-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.model-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.model {
  position: relative;
  z-index: 1;
  width: 60%;
  max-width: 400px;
  height: 80%;
  max-height: 400px;
  background-color: var(--bg-primary);
  padding: 10px;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.model-header {
  padding-bottom: 5px;
}

.users-list {
  max-height: 360px;
  overflow-y: scroll;
  scrollbar-width: 0px;
}

.users-list::-webkit-scrollbar {
  display: none;
}

/* CREATE ROOM */
.addroom {
  padding-top: 10%;
}

.addroom__form {
  max-width: 450px;
  margin: 0 auto;
}

.addroom__form > div {
  margin: 8px 0;
}

.addroom__form > div > input {
  width: 100%;
  height: 40px;
  padding: 5px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .container,
  .nav-container {
    width: 95%;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-transform: translateX(-280px);
    -ms-transform: translateX(-280px);
    transform: translateX(-280px);
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }

  .sidebar__open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .hamburger__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .close__icon {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 5px;
    margin-right: 5px;
  }

  .model {
    width: 90%;
  }

  .logo svg {
    width: 50%;
    min-width: 100px;
    height: auto;
  }
}

/* CHAT MESSAGE ANIMATION */
@keyframes fly-in {
  0% {
    -webkit-transform: scale(0.95) translateY(5%);
    transform: scale(0.95) translateY(5%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
