@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #ffffff;
  --font-family: 'Fira Code', sans-serif;
  --text-primary: #000000;
  --text-secondary: #3d3d3d;
  --special: #8575dd;
  --nav-height: 50px;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
}

html {
  font-family: var(--font-family);
}

/* Global */
button {
  font-family: var(--font-family);
  padding: 10px 20px;
  background-color: var(--special);
  color: var(--bg-primary);
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  min-width: 100px;
}

input {
  font-family: var(--font-family);
  font-size: 16px;
  outline: none;
}

a {
  color: var(--special);
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.nav-container {
  width: 60%;
  margin: 0 auto;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  background-color: var(--bg-primary);
}

.main {
  width: 100%;
  /* margin-top: 10%; */
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  margin-top: 20px;
}

.logo svg {
  max-width: 80%;
  height: auto;
  fill: var(--special);
}

.content {
  margin-top: 10px;
  color: var(--text-secondary);
}

.options {
  display: flex;
  margin-top: 20px;
}

.options button {
  margin: 10px;
}

/* Login and Register form */
.auth-form {
  width: 90%;
  max-width: 400px;
  /* margin: 25% auto 0 auto; */
  padding: 20% 0;
  margin: 0 auto;
}

.auth-form > div {
  padding: 6px 0;
}

.auth-form > div:nth-last-child(1) {
  text-align: right;
}

.auth-form input {
  height: 40px;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  outline: none;
  border: 1px solid var(--text-secondary);
  /* border-radius: 20px; */
}

.auth-form button {
  width: 100%;
  border-radius: 0%;
}

/* Chat UI */
.chat-container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.chat-header {
  display: flex;
  align-items: center;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--text-secondary);
}

.spacer {
  flex: 2;
}

.chat-screen {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 56px); */
  height: 100%;
}

.chat-div {
  flex: 2;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  overflow-y: scroll;
}

/* Custom scrollbar */
.chat-div::-webkit-scrollbar {
  display: none;
}

.chat-div ul {
  list-style: none;
}

.message {
  padding: 5px 0;
  -webkit-animation: fly-in 300ms ease-in-out;
  animation: fly-in 300ms ease-in-out;
}

.chat-form-div {
  height: var(--nav-height);
  display: flex;
  /* align-items: center; */
  padding-bottom: 10px;
}

.chat-form {
  display: flex;
  width: 100%;
  margin: 0;
  /* Override the form max width */
  padding: 0;
  max-width: 100%;
}

.chat-ip {
  flex: 2;
}

.chat-form > div {
  padding: 0;
}

.chat-ip input {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid var(--text-secondary);
}

.chat-form button {
  height: 40px;
  padding: 0 10px;
  border-radius: 0%;
  min-width: auto;
}

/* Model */
.model-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.model-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.model {
  position: relative;
  z-index: 2;
  width: 60%;
  max-width: 400px;
  height: 80%;
  max-height: 400px;
  background-color: var(--bg-primary);
  padding: 10px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.model-header {
  /* height: 30px; */
  padding-bottom: 5px;
}

.users-list {
  /* max-height: calc(100% - 30px); */
  /* overflow-y: scroll; */
  max-height: 360px;
  overflow-y: scroll;
}

.users-list::-webkit-scrollbar {
  display: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .container,
  .nav-container,
  .chat-container {
    width: 95%;
  }
  .model {
    width: 90%;
  }
  .logo svg {
    width: 50%;
    min-width: 100px;
    height: auto;
  }
}

/* Chat message animation */
/* https://bilianavaleva.com/conversational-ui-with-flexbox/ */
@-webkit-keyframes fly-in {
  0% {
    transform: scale(0.85) translateY(10%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
@keyframes fly-in {
  0% {
    transform: scale(0.85) translateY(10%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
